
<div hx-target="this" hx-swap="outerHTML">

       <div id="data-formset-body">
            <div class="row">
                <div class="col-md-3 mt-2">
                    {{ form.column_name }}
                </div>
                <div class="col-md-3 mt-2">
                    {{ form.data_type }}
                </div>
                <div class="col-md-3 mt-2">
                    {{ form.order }}
                </div>
                <div class="col-md-3 mt-2">
                     <button class="btn btn-danger" type="button" id="form-DELETE">Delete</button>
                </div>
            </div>
    </div>

</div>